@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
	@apply h-screen w-screen overflow-x-hidden
}

* {
	font-family: 'Nunito', sans-serif;
}
*,
::before,
::after {
	box-sizing: border-box; /* 1 */
	border-width: 0; /* 2 */
	border-style: solid; /* 2 */
}

::before,
::after {
	--tw-content: "";
}

.ant-upload-select {
	width: 100% !important;
}


.ant-table-thead .ant-table-cell {
	@apply !bg-blue-50 border border-blue-500/30
  }